body {
    color: darkblue;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}


button {
    padding: 5px;
    margin: 10px;
    color: white;
    border-radius: 8px;
    background-color: darkblue;
}

.quiz-container {
    justify-content: center;
    display: flex block;
    padding: 5px;
    margin: 10px;
    color: white;
    border-radius: 8px;
    background-color: lightblue;
    

.quiz-container button {
    justify-content: center;
    display: flex block;
    padding: 5px;
    margin: 10px;
    color: white;
    border-radius: 8px;
    background-color: darkblue;
}
